In [2]:
import pandas as pd
import numpy as np

/usr/local/lib/python3.5/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [3]:
import re
import os

In [4]:
codebook = pd.read_csv(
    './source/IHME_GBD_2013_LIFE_EXPECTANCY_1970_2013_Y2014M12D17/IHME_GBD_2013_LIFE_EXPECTANCY_1970_2013_CB_Y2014M12D17.CSV',
    skiprows=1,
    header=None,
)

In [5]:
data = pd.read_csv(
    './source/IHME_GBD_2013_LIFE_EXPECTANCY_1970_2013_Y2014M12D17/IHME_GBD_2013_LIFE_EXPECTANCY_1970_2013_Y2014M12D17.CSV',
)

In [6]:
codebook = codebook.iloc[:, 1:]

In [7]:
data.head()

,location_id,location_code,location_name,year,age_group_id,age_group_name,sex_id,sex_name,metric,unit,mean,upper,lower
0,1,G,Global,1970,28,<1 year,1,Males,Life expectancy,Years,56.7,57.6,55.7
1,1,G,Global,1970,28,<1 year,2,Females,Life expectancy,Years,60.1,61.1,59.0
2,1,G,Global,1970,28,<1 year,3,Both sexes,Life expectancy,Years,58.4,59.0,57.7
3,1,G,Global,1970,5,1 to 4,1,Males,Life expectancy,Years,61.8,62.8,60.7
4,1,G,Global,1970,5,1 to 4,2,Females,Life expectancy,Years,65.0,65.9,64.0

In [8]:
codebook.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,location_id,location_code,location_name,year,age_group_id,age_group_name,sex_id,sex_name,metric,unit,mean,upper,lower
1,Location ID,Country ISO 3166-1 Alpha-3 Code or GBD Region ...,Country or Region Name,Year,Age Group ID,Age Group Name,Sex ID,Sex Name,Metric,Unit,Mean,95% Uncertainty Interval - Upper Bound,95% Uncertainty Interval - Lower Bound
2,1,G,Global,1970,28,<1 year,1,Males,Life expectancy,Years,NaN,NaN,NaN
3,2,D0,Developing,1971,5,1 to 4,2,Females,NaN,NaN,NaN,NaN,NaN
4,3,D1,Developed,1972,6,5 to 9,3,Both sexes,NaN,NaN,NaN,NaN,NaN

In [15]:
codebook.ix[:1].T

                 0                                                  1
1      location_id                                        Location ID
2    location_code  Country ISO 3166-1 Alpha-3 Code or GBD Region ...
3    location_name                             Country or Region Name
4             year                                              Year
5     age_group_id                                       Age Group ID
6   age_group_name                                     Age Group Name
7           sex_id                                             Sex ID
8         sex_name                                           Sex Name
9           metric                                             Metric
10            unit                                               Unit
11            mean                                               Mean
12           upper             95% Uncertainty Interval - Upper Bound
13           lower             95% Uncertainty Interval - Lower Bound

# Concepts

In [51]:
dis_concept = codebook.ix[:1].T.ix[:10]
dis_concept = dis_concept.drop(9)

In [52]:
dis_concept.columns = ['concept', 'name']

In [53]:
dis_concept['type'] = 'string'
dis_concept['type'].ix[[1, 5, 7]] = 'entity domain'
dis_concept['type'].ix[4] = 'time'

In [76]:
dis_concept['unit'] = 'years'

In [77]:
dis_concept

,concept,name,type,unit
1,location_id,Location ID,entity domain,years
2,location_code,Country ISO 3166-1 Alpha-3 Code or GBD Region ...,string,years
3,location_name,Country or Region Name,string,years
4,year,Year,time,years
5,age_group_id,Age Group ID,entity domain,years
6,age_group_name,Age Group Name,string,years
7,sex_id,Sex ID,entity domain,years
8,sex_name,Sex Name,string,years
10,unit,Unit,string,years

In [78]:
dis_concept.to_csv('./output/ddf--concept--discrete.csv', index=False)

In [30]:
cont_concept = codebook.ix[:1].T.ix[11:]

In [31]:
cont_concept.columns = ['concept', 'name']

In [32]:
cont_concept['type'] = 'measure'

In [34]:
cont_concept

   concept                                    name     type
11    mean                                    Mean  measure
12   upper  95% Uncertainty Interval - Upper Bound  measure
13   lower  95% Uncertainty Interval - Lower Bound  measure

In [35]:
cont_concept.to_csv('./output/ddf--concept--continuous.csv', index=False)

# Entities

In [57]:
ent_country = codebook.ix[:, :3]

In [58]:
ent_country.columns = ent_country.ix[0]
ent_country = ent_country.drop([0, 1])

In [59]:
ent_country

0   location_id location_code                           location_name
2             1             G                                  Global
3             2            D0                              Developing
4             3            D1                               Developed
5             4            S6  Southeast Asia, East Asia, and Oceania
6             5            R3                               East Asia
7             6           CHN                                   China
8             7           PRK                             North Korea
9             8           TWN                                  Taiwan
10            9            R5                          Southeast Asia
11           10           KHM                                Cambodia
12           11           IDN                               Indonesia
13           12           LAO                                    Laos
14           13           MYS                                Malaysia
15           14           MDV                                Maldives
16           15           MMR                                 Myanmar
17           16           PHL                             Philippines
18           17           LKA                               Sri Lanka
19           18           THA                                Thailand
20           19           TLS                             Timor-Leste
21           20           VNM                                 Vietnam
22           21           R17                                 Oceania
23           22           FJI                                    Fiji
24           23           KIR                                Kiribati
25           24           MHL                        Marshall Islands
26           25           FSM          Federated States of Micronesia
27           26           PNG                        Papua New Guinea
28           27           WSM                                   Samoa
29           28           SLB                         Solomon Islands
30           29           TON                                   Tonga
31           30           VUT                                 Vanuatu
..          ...           ...                                     ...
191         191           ZMB                                Botswana
192         192           R20                                 Lesotho
193         193           BWA                                 Namibia
194         194           LSO                            South Africa
195         195           NAM                               Swaziland
196         196           ZAF                                Zimbabwe
197         197           SWZ              Western Sub-Saharan Africa
198         198           ZWE                                   Benin
199         199           R21                            Burkina Faso
200         200           BEN                                Cameroon
201         201           BFA                              Cape Verde
202         202           CMR                                    Chad
203         203           CPV                           Cote d'Ivoire
204         204           TCD                              The Gambia
205         205           CIV                                   Ghana
206         206           GMB                                  Guinea
207         207           GHA                           Guinea-Bissau
208         208           GIN                                 Liberia
209         209           GNB                                    Mali
210         210           LBR                              Mauritania
211         211           MLI                                   Niger
212         212           MRT                                 Nigeria
213         213           NER                   Sao Tome and Principe
214         214           NGA                                 Senegal
215         215           STP                            Sierra Leone
216         216           SEN                                    Togo
217         217           SLE                             South Sudan
218         218           TGO                                   Sudan
219         435           SSD                                     NaN
220         522           SDN                                     NaN

[219 rows x 3 columns]

In [60]:
ent_country.to_csv('./output/ddf--entities--country.csv', index=False)

In [64]:
ent_age = codebook.ix[:, 5:6]

In [65]:
ent_age = ent_age.dropna(how='all')

In [67]:
ent_age.columns = ent_age.ix[0]
ent_age.drop([0, 1], inplace=True)

In [68]:
ent_age

0  age_group_id age_group_name
2            28        <1 year
3             5         1 to 4
4             6         5 to 9
5             7       10 to 14
6             8       15 to 19
7             9       20 to 24
8            10       25 to 29
9            11       30 to 34
10           12       35 to 39
11           13       40 to 44
12           14       45 to 49
13           15       50 to 54
14           16       55 to 59
15           17       60 to 64
16           18       65 to 69
17           19       70 to 74
18           20       75 to 79
19           30       80 to 84
20           31       85 to 90
21           32       90 to 94
22           33       95 to 99
23           44     100 to 104
24           45     105 to 109
25           46     110 to 114

In [74]:
ent_age.to_csv('./output/ddf--entities--age.csv', index=False)

In [69]:
ent_sex = codebook.ix[:, 7:8]

In [71]:
ent_sex = ent_sex.dropna(how='all')
ent_sex.columns = ent_sex.ix[0]
ent_sex = ent_sex.drop([0, 1])

In [72]:
ent_sex

0 sex_id    sex_name
2      1       Males
3      2     Females
4      3  Both sexes

In [73]:
ent_sex.to_csv('./output/ddf--entities--sex.csv', index=False)

# Datapoints

In [85]:
mean = data.ix[:, [0, 3, 4, 6, 10]]
upper = data.ix[:, [0, 3, 4, 6, 11]]
lower = data.ix[:, [0, 3, 4, 6, 12]]

In [86]:
mean.to_csv('./output/ddf--datapoints--mean--by--location_id--age_group_id--sex_id--year.csv', index=False)

In [87]:
upper.to_csv('./output/ddf--datapoints--upper--by--location_id--age_group_id--sex_id--year.csv', index=False)

In [88]:
lower.to_csv('./output/ddf--datapoints--lower--by--location_id--age_group_id--sex_id--year.csv', index=False)

In [20]:
[{"type":"Entity header is not correct","path":"/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--age_group.csv","data":"age_group"},{"type":"Entity header is not correct","path":"/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--age_group.csv","data":"age_group_name"},{"type":"Entity header is not correct","path":"/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--age_group.csv","data":"name"},{"type":"Entity header is not correct","path":"/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--location.csv","data":"location"},{"type":"Entity header is not correct","path":"/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--location.csv","data":"location_code"},{"type":"Entity header is not correct","path":"/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--location.csv","data":"location_name"},{"type":"Entity header is not correct","path":"/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--location.csv","data":"name"},{"type":"Entity header is not correct","path":"/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--sex.csv","data":"sex"},{"type":"Entity header is not correct","path":"/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--sex.csv","data":"sex_name"},{"type":"Entity header is not correct","path":"/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--sex.csv","data":"name"},{"type":"Index is not found","path":"../output","data":"../output","warning":"true"}]

[{'data': 'age_group',
  'path': '/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--age_group.csv',
  'type': 'Entity header is not correct'},
 {'data': 'age_group_name',
  'path': '/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--age_group.csv',
  'type': 'Entity header is not correct'},
 {'data': 'name',
  'path': '/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--age_group.csv',
  'type': 'Entity header is not correct'},
 {'data': 'location',
  'path': '/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--location.csv',
  'type': 'Entity header is not correct'},
 {'data': 'location_code',
  'path': '/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--location.csv',
  'type': 'Entity header is not correct'},
 {'data': 'location_name',
  'path': '/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--location.csv',
  'type': 'Entity header is not correct'},
 {'data': 'name',
  'path': '/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--location.csv',
  'type': 'Entity header is not correct'},
 {'data': 'sex',
  'path': '/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--sex.csv',
  'type': 'Entity header is not correct'},
 {'data': 'sex_name',
  'path': '/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--sex.csv',
  'type': 'Entity header is not correct'},
 {'data': 'name',
  'path': '/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--sex.csv',
  'type': 'Entity header is not correct'},
 {'data': '../output',
  'path': '../output',
  'type': 'Index is not found',
  'warning': 'true'}]

In [18]:
pd.read_csv('/Users/semio/src/work/Gapminder/ddf--ihme-lex/output/ddf--entities--age_group.csv')

    age age_group_name
0    28        <1 year
1     5         1 to 4
2     6         5 to 9
3     7       10 to 14
4     8       15 to 19
5     9       20 to 24
6    10       25 to 29
7    11       30 to 34
8    12       35 to 39
9    13       40 to 44
10   14       45 to 49
11   15       50 to 54
12   16       55 to 59
13   17       60 to 64
14   18       65 to 69
15   19       70 to 74
16   20       75 to 79
17   30       80 to 84
18   31       85 to 90
19   32       90 to 94
20   33       95 to 99
21   44     100 to 104
22   45     105 to 109
23   46     110 to 114